* {
    font-family:Arial, Helvetica, sans-serif;
    margin: auto;
    text-align: center;
}
html {
    scroll-behavior: smooth;
}

body {
    margin-top: 30px;
    background: linear-gradient(45deg, rgb(23, 23, 23), rgb(161, 161, 161));
    background-repeat: no-repeat;
    background-size: 400% 400%;
    color: rgb(227, 227, 227);
}
.container {
    background: rgb(215, 215, 215);
    color: rgb(70, 70, 70);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgb(0, 0, 0.8);
}
.container2 {
    background: rgb(215, 215, 215);
    color: rgb(100, 45, 45);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgb(0, 0, 0.8);
}
h1 {
    margin-top: 5px;
    padding: 10px;
}
h4 {
    font-size: larger;
    color: rgb(225, 225, 225);
    margin-bottom: 10px;
    padding: 10px;
}
p {
    color: rgb(53, 53, 53);
    margin-bottom: 10px;
    padding: 10px;
}